body {
  margin: 0;
  font-family: "SF Pro Text","SF Pro Icons","Apple WebExp Icons Custom","Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px;
}

h2 { font-size: 1rem; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input-wrapper {
  position: relative;
  display: inline;
}

.currency {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translate3d(0,-50%,0);
}

.input-wrapper input {
  padding-left: 10px;
}

table {
  border-collapse: collapse;
}

th {
  border-bottom: 1px solid #000;
  text-align: left;
  padding: 5px 5px 3px 5px;
}

td {
  padding: 5px;
}

tr {
  border-bottom: 1px solid #ccc;
}

.btn--unstyled {
  background: none;
  border: none;
  padding: 0;
  font-weight: inherit;
  font-size: inherit;
}

.btn {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 3px;
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin: 0.5rem;
  text-align: center;
  color: #fff;
}

.btn--primary {
  border: 1px solid #1976d2;
  background-color: #1976d2;
}

.btn--secondary {
  border: 1px solid #dc004e;
  background-color: #dc004e;
}

.btn--text {
  background-color: transparent;
  border: none;
  color: unset;
}

.text-align--right {
  text-align: right;
}

a {
  color: inherit;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.actions *:first-child { margin-left: 0; }

.take-photo,
.take-photo__video {
  background-color: #000;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.take-photo__button {
  position: fixed;
  bottom: 10vh;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}

.photo { max-width: 100%; }

.wine {
  display: flex;
  align-items: flex-start;
  padding: 0.8rem 0;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.wine__image {
  width: 160px;
  margin-right: 1rem;
}

.wine__details {
  display: flex;
  flex-direction: column;
  padding: 0.2rem 0.2rem 0.2rem 0;
}

.wine__title {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  line-height: 1.15;
  padding: 0;
  margin-top: 0;
}

.wine__type-price {
  display: flex;
  align-items: flex-center;
  font-size: 0.8rem;
  margin: 0;
  padding: 0.2rem 0;
}

.wine__type { 
  text-transform: uppercase; 
  border-right: 1px solid #000;
  padding-right: 0.4rem;
  line-height: 1;
}

.wine__price {
  padding-left: 0.4rem;
  line-height: 1;
}

.wine__details,
.wine__actions {
  display: flex;
}

.wine__actions a:first-child { margin-left: 0; }

.wine__rating {
  margin: 0.5rem 0 0 0;
}

.wine__rating-value {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.sort-panel { 
  display: flex; 
  align-items: baseline;
}